//- colors
$brand-base: #20B2AA;
//- color:nth($brand-base,2)

$brand-gray: (
	700: rgb(186, 186, 186), //- #BABABA
	800: rgb(90, 90, 90),    //- #5a5a5a
	900: rgb(41, 41, 41),    //- #292929
)!default;
//- color: map-get( $brand-gray, 400 )
@function brand-gray($key: 100) {
	@return map-get($brand-gray, $key);
}

$brand-colors: (
	"yellow":  #FDBA45,
)!default;
//- color: map-get($brand-colors, white)
@function brand-colors($key: white) {
	@return map-get($brand-colors, $key);
}

//- fonts
$font-l: 1.125rem !default;  //- 18px
$font-m: .8125rem !default;  //- 13px
$font-s: .75rem   !default;  //- 12px

$font-family: Helvetica Neue, Helvetica, Arial, 微軟正黑體, Microsoft JhengHei, sans-serif;
$light-height: 1.65;

//- header
$header-h:     3rem; //- 16px*3=48px
$header-nav-w: 260px;
$header-txt: white;
$header-txt-hover: $brand-base;

$nav-subItrm-txt:       white;
$nav-subItrm-txt-hover: $brand-base;
$nav-subItrm-bg:        brand-gray(900);

//- footer
$footer-txt: brand-gray(700);
$footer-txt-hover: $brand-base;
$footer-bg:  brand-gray(900);

$footer-txt-copyright: $brand-base;

//=================== modules

//- padding
$ledge-pd: 1rem;

//- border
$border: 1px solid brand-gray(800);

//- button
$button: 2.5rem;
