.row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    @include display-flex;
    @include flex-direction(row wrap);
    @include align-items(center);
    @include justify-content(flex-start);
}