.nav {
    &-list {
        position: relative;
        white-space: nowrap;
        li {
            &.dropMenu {
                position: relative;
                > a {
                    &:after {
                        content: '\f107';
                        font-family: FontAwesome;
                        padding-left: $ledge-pd;
                    }
                }
                .nav-subItem {
                    width: 100%;
                    max-height: 0;
                    overflow: hidden;
                    @include trans(all);
                    > a {
                        display: block;
                        &:after {
                            content: '\f107';
                            font-family: FontAwesome;
                            padding-left: $ledge-pd;
                        }
                    }
                }
                @include MQ(tablet) {
                    &.is-active {
                        .nav-subItem {
                            max-height: 500px;
                        }
                    }
                }
                @include MQ(md) {
                    &:hover {
                        .nav-subItem {
                            max-height: 500px;
                        }
                    }
                }
            }
        }
    }
}