extends ./tmp/layout.jade

//- web name
block webTitle
    title esball
    
//- web container
block webContent
    .page-content.
        content

//- web footer
block webFooter
    .copyright copyright

//- web script
//- block webScript
