.page-banner {
    height: 400px;
    .banner {
        &-item {
            @include center(center);
            @include flex-direction(column);
            height: 100%;
            background-position: center;
            padding-top: 40px; //- remove marquee heigh
        }
        &-txt {
            padding: 0 1rem;
            > img {
                max-width: 100%;
                margin: auto;
            }
        }
        &-btn {
            margin-top: 2rem;
            .btn-join {
                @include size(180px, 57px);
                font-size: $font-l;
                letter-spacing: 1px;
                font-weight: bold;
                line-height: 57px;
                border: 0;
                border-radius: 5px;
                background: #fff;
                opacity: .8;
                @include hover {
                    opacity: 1;
                }
            }
        }
    }
}