.page-header {
    color: $header-txt;
    @include center(space-between);
    @include size(100%, $header-h);
    background-color: brand-gray(900);
    @include pad($ledge-pd);
    a {
        display: block;
        color: $header-txt;
        @include hover {
            color: $header-txt-hover;
        }
    }
}

//- 選單列表
.page-list {
    border-bottom: 1px solid lighten(brand-gray(900), 5%);
    li {
        border-bottom: 1px solid darken(brand-gray(900), 5%);
        &:nth-child(n+2) {
            border-top: 1px solid lighten(brand-gray(900), 5%);
        }
        a {
            padding: 1rem;
        }
    }
}


//- 行動裝置選單
@include MQ(tablet) {
    .mainBody {
        position: relative;
        height: 100%;
        @include trans(all);
        .page-nav {
            position: fixed;
            bottom: 0;
            right: 0;
            z-index: 2;
            @include size($header-nav-w, 100%);
            background-color: brand-gray(900);
            @include tranX(100%);
            @include trans(all);
            @include overflow;
            overflow-x: auto;
        }
        .btn-menu {
            @include size($header-h / 2 , $header-h);
        }
        &.is-active {
            cursor: pointer;
            &:before {
                content: '';
                position: fixed;
                z-index: 1;
                top: $header-h;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0,0,0,.7);
            }
        }
    }
}


@include MQ(tablet) {
    .mainBody {
        @if $push {
            .page-nav {
                top: 0;
            }
            &.is-active {
                @include tranX(-$header-nav-w);
            }
        } @else {
            .page-nav {
                top: $header-h;
            }
            &.is-active {
                .page-nav {
                    @include tranX(0);
                }
            }
        }
    }
}
