.page {
    &-header {
        @include center(space-between);
        @include size(100%, $header-h);
        background-color: brand-gray(900);
        @include pad($ledge-pd);
        a {
            display: block;
            color: white;
            @include hover {
                color: $nav-subItrm-txt-hover;
            }
        }
        @include MQ(md) {
            padding: 0 1rem;
        }
    }
    &-member, &-nav {
        flex: 2;
    }
    &-logo {
        flex: 3;
        @include center(center);
        @include size(100%, $header-h);
        > a {
            display: inline-block;
            width: 100px;
            max-width: 100px;
        }
    }
    &-nav {
        text-align: right;
        .nav {
            &-function {
                li {
                    display: inline-block;
                }
            }
        }
    }
}

//- 推推語法
// @include MQ(tablet) {
//     .mainBody {
//         position: relative;
//         height: 100%;
//         @include trans(all);
//         .nav {
//             @include fill-r;
//             @include size($header-nav-w, 100%);
//             background-color: brand-gray(900);
//             @include tranX(100%);
//             @include overflow;
//             &-btn {
//                 position: absolute;
//                 right: 100%;
//                 text-align: center;
//                 @include sq-size($header-h);
//                 line-height: $header-h;
//                 background-color: brand-gray(910);
//                 cursor: pointer;
//             }
//             &-function {
//                 @include center(flex-end);
//                 text-align: right;
//                 margin-right: $header-h + $ledge-pd;
//             }
//         }
//         &.is-active {
//             cursor: pointer;
//             @include tranX(-$header-nav-w);
//         }
//     }
// }
//- 覆蓋語法
@include MQ(tablet) {
    .mainBody {
        position: relative;
        height: 100%;
        .nav {
            &-list {
                position: absolute;
                top: $header-h;
                bottom: 0;
                right: 0;
                z-index: 1;
                @include overflow;
                @include size($header-nav-w, 100%);
                text-align: left;
                background-color: brand-gray(900);
                @include tranX(100%);
                @include trans(all);
            }
            &-btn {
                font-size: 1.5rem;
                text-align: center;
                @include sq-size(2.5rem);
                line-height: 2.5rem;
                background-color: brand-gray(910);
                border-radius: 50%;
                cursor: pointer;
            }
        }
        &.is-active {
            cursor: pointer;
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                top: $header-h;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0,0,0,.7);
            }
            .nav-list {
                @include tranX(0);
            }
        }
    }
}
// @include MQ(md) {
//     .page-nav {
//         @include center(space-between);
//         .nav {
//             &-function {
//                 margin-right: $ledge-pd;
//             }
//             &-btn {
//                 display: none;
//             }
//             &-list {
//                 > li {
//                     display: inline-block;
//                     > a {
//                         height: $header-h;
//                         line-height: $header-h;
//                         padding: 0 $ledge-pd;
//                     }
//                 }
//             }
//         }
//     }
// }