.first-game-wrap {
    @include MQ(sm) {
        [class*="first-game"] {
            float: left;
            width: 50%;
        }
    }
}

.first-else-wrap {

}


.first-item {
    display: block;
    position: relative;
    &-txt, &-btn {
        position: absolute;
        left: 1rem;
    }
    &-txt {
        top: 1rem;
        h2, h3 {
            color: brand-colors("yellow");
        }
        h2 {
            font-size: $font-l;
            font-weight: bold;
            padding-bottom: 1rem;
        }
        p {
            font-size: $font-s;
            color: #fff;
        }
    }
    &-btn {
        bottom: 2rem;
        display: inline-block;
        font-size: $font-s;
        color: #fff;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 15px;
        padding: .5rem 1rem;
        cursor: pointer;
    }
}