@import 'susy';
@import 'breakpoint';

$susy: (
      columns-width: 60px,
      columns: 12,
      gutters: 1/2,
      math: fluid,
      gutter-position: after,
      debug: (
            // image: show,
            color: rgba(gray, 0.1),
      ),
);

// add media
$breakpoints: (
    'xs': 320px,
    'sm': 544px,
    'md': 768px,
    'lg': 1003px,
    'xl': 1200px
);

@function breakpoints($key: xs) {
    @return map-get($breakpoints, $key);
}

$mobile: max-width breakpoints(sm) - 1;
$tablet: max-width breakpoints(md) - 1;
$only-tablet: breakpoints(sm) breakpoints(md)-1;

@mixin MQ($canvas) {
    $value: map-get($breakpoints, $canvas);
    @if $value != null {
        @include breakpoint($value) {
            @content;
        }
    }
    @else if $canvas == mobile {
        @include breakpoint($mobile) {
            @content;
        }
    }
    @else if $canvas == tablet {
        @include breakpoint($tablet) {
            @content;
        }
    }
    @else if $canvas == only-tablet {
        @include breakpoint($only-tablet) {
            @content;
        }
    }
}